
<style>
   
*
{
 width:750px;
 padding:20px;
 background-color:rgb(255, 255, 255);
 border:1px solid #ccc;
 border-radius:5px;
 margin-top:100px;
}



h1 {
    color: rgb(238, 255, 0);
    font-family: verdana;
    font-size: 300%;
  }
  p  {
    color: rgb(11, 39, 99);
    font-family: courier;
    font-size: 160%;
  }
  p {
    border: 1px solid powderblue;
    padding: 30px;
  }
  p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }







</style>