
   
*
{
 width:750px;
 padding:20px;
 background-color:rgb(255, 255, 255);
 border:1px solid #ccc;
 border-radius:5px;
 margin-top:100px;
}



h1 {
    color: rgb(238, 255, 0);
    font-family: verdana;
    font-size: 300%;
  }
  p  {
    color: rgb(11, 39, 99);
    font-family: courier;
    font-size: 160%;
  }
  p {
    border: 1px solid powderblue;
    padding: 30px;
  }
  p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }








  *
  {border: 3px green darkolivegreen;}
  body {
      margin: 10;
      padding: 5;
      }
     body {
      background-color: rgb(189, 100, 100); 
      font-family: Verdana, sans-serif; 
      font-size: 100%;
      }
     h1 {
      font-size: 200%; 
      color: rgb(136, 177, 201); 
      text-align: center;
      }
     h2 {
      font-size: 150%; 
      color: rgb(214, 110, 110); 
      padding-left: 15px;
      }
      IMG.displayed {
          display: block;
          margin-left: auto;
          margin-right: auto }
          p {
              font-family:arial, sans-serif;
              font-size:25px;
              
              }